/* Global Styles */
body {
    background-color: #000;
    color: #ccc;
    font-family: 'Georgia', sans-serif;

}

/* Header Styles */
header {
    padding: 20px;
    text-align: center;
    color: #ffffff;
    position: relative;
    margin-top: 20px;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    color: #aaa;
}

/* Navigation Menu Styles */
.nav-menu {
    /* display: none; */
    position: absolute;
    top:40px !important;
    right: -160px !important;
    background-color: #000000 !important;
    border-radius: 5px;
    padding: 10px;
    width: 90px !important;
    /* visibility: hidden; */
    /* opacity: 0; */
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Home Button Styles */
.nav-menu button {
    width: 100%;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Georgia', sans-serif;
}

.nav-menu.show {
    display: block;
    visibility: visible;
    opacity: 1;
}

.nav-menu button:hover {
    background-color: #0057b3;
}

/* Template Container Styles */
.template-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 50px 0;
    margin-top: -50px;
}

/* Template Box */
.template-box {
    background: #444;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column; /* Stack items */
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* Template Image */
.template-img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

/* Hover Effect */
.template-img:hover {
    transform: scale(1.05);
}

/* Overlay Text (Button) */
.template-overlay {
    position: absolute;
    bottom: 10px;
    background: rgba(47, 43, 43, 0.6);
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

.template-overlay:hover {
    background: rgba(0, 0, 0, 0.8);
}
